# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=info

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Application level vars
CONFIG_REPO_NAME='.github'
CONFIG_FILE_NAME='configs/check-topic-teams.yml'
TEMPLATE_FILE_NAME='ISSUE_TEMPLATE/check-teams-topics.md'